body {
    background: linear-gradient(0.25turn, #3f87a6, #000000, #af1c1c);
    font-family: 'Merienda', cursive;
    color: white;
}
.container {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3px;
    border: 1px solid rgb(95, 30, 30);
    box-shadow: 0 0 5px rgb(95, 30, 30);
}
.grid-cell {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 4rem;
}
#title {
    position: absolute;
    font-size: 38px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#currentPlayer {
    position: absolute;
    font-size: 26px;
    top: 20%;
    left: 50%;
    transform: translate(-50%)
}
.player-left {
    cursor: pointer;
    position: absolute;
    top: 15%;
    right: 70%;
}
.player-right {
    cursor: pointer;
    position: absolute;
    top: 15%;
    left: 70%;
}
#start-game {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 0 0 1px 0;
    position: absolute;
    top: 22.7%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#start-game:hover {
    background: linear-gradient(20deg, rgba(175, 28, 28, 0.5), rgba(63, 135, 166, 0.5));
    outline: none;
}
#start-game:active {
    box-shadow: 0 0 10px 0px black;
}

#change-players {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 0 0 1px 0;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#change-players:hover {
    background: linear-gradient(20deg, rgba(175, 28, 28, 0.5), rgba(63, 135, 166, 0.5));
    outline: none;
}
#change-players:active {
    box-shadow: 0 0 10px 0px black;
}
#new-game {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 0 0 1px 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#new-game:hover {
    background: linear-gradient(20deg, rgba(175, 28, 28, 0.5), rgba(63, 135, 166, 0.5));
    outline: none;
}
#new-game:active {
    box-shadow: 0 0 10px 0px black;
}
.player-options {
    width: 70px;
    display: flex;
    flex-direction: column;
}
.left {
    position: absolute;
    top: 20%;
    right: 71%;
}
.right {
    position: absolute;
    top: 20%;
    left: 71%;
}
.btn {
    padding: 2px 7px;
    margin-top: 3px;
    text-align: center;
    border: 1px solid;
    border-radius: 15px;
}
div.player-options:nth-child(3) > div:hover {
    cursor: pointer;
    background-color: #3f87a6;
}
div.player-options:nth-child(4) > div:hover {
    cursor: pointer;
    background-color: #af1c1c;
}
#active-left {
    background-color: #3f87a6;
}
#active-right {
    background-color: #af1c1c;
}
.hidden {
    display: none;
}
/* Rules settings */
#arrow-1 {
    opacity: 0.5;
    font-size: 1.5rem;
    position: absolute;
    top:-155%;
    left: -30%;
    transform: rotate(45deg);
}
#rule-1 {
    opacity: 0.6;
    font-size: 0.8rem;
    position: absolute;
    top: -200%;
    left: -200%;
    transform: rotate(-20deg);
}

#arrow-2 {
    opacity: 0.5;
    font-size: 1.5rem;
    position: absolute;
    top: -155%;
    right: -30%;
    transform: rotate(-45deg);
}
#rule-2 {
    opacity: 0.6;
    font-size: 0.8rem;
    position: absolute;
    top: -170%;
    right: -180%;
    transform: rotate(20deg);
}

.markers {
    cursor:pointer;
}

#form {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;    
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid white;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, rgba(63, 135, 166, 1) ,rgba(175, 28, 28, 1));
}
#form fieldset {
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, rgba(175, 28, 28, 1), rgba(63, 135, 166, 1));
}
#form label {
    position: relative;
    top: 2.5px;
}
#form-btn {
    text-align: center;
}
#form button {
    cursor: pointer;
    padding: 3px 7px;
    margin-top: 10px;
    box-shadow: 0 0 1px 0;
}

#player-name {
    margin-top: 10px
}

